---
http_interactions:
- request:
    method: get
    uri: https://prismic-rails.prismic.io/api?access_token=MC5Xb1FQa3lzQUFLMVN3RVh4.ZXo4Uu-_ve-_vXXvv73vv73vv71echEp77-9EzFx77-9MO-_vSXvv71MEO-_vScZ77-977-9XO-_vQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Local-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"refs":[{"id":"master","ref":"WoQTESsAAJIxwFWJ","label":"Master","isMasterRef":true}],"bookmarks":{},"types":{"text":"text","tea":"tea","complex":"complex"},"tags":[],"forms":{"everything":{"method":"GET","enctype":"application/x-www-form-urlencoded","action":"https://prismic-rails.prismic.io/api/v1/documents/search","fields":{"ref":{"type":"String","multiple":false},"q":{"type":"String","multiple":true},"lang":{"type":"String","multiple":false},"page":{"type":"Integer","multiple":false,"default":"1"},"pageSize":{"type":"Integer","multiple":false,"default":"20"},"after":{"type":"String","multiple":false},"fetch":{"type":"String","multiple":false},"fetchLinks":{"type":"String","multiple":false},"orderings":{"type":"String","multiple":false},"referer":{"type":"String","multiple":false},"access_token":{"default":"MC5Xb1FQa3lzQUFLMVN3RVh4.ZXo4Uu-_ve-_vXXvv73vv73vv71echEp77-9EzFx77-9MO-_vSXvv71MEO-_vScZ77-977-9XO-_vQ","type":"String","multiple":false}}}},"oauth_initiate":"https://prismic-rails.prismic.io/auth","oauth_token":"https://prismic-rails.prismic.io/auth/token","version":"a5dcab6","license":"This
        work is licensed under the Creative Commons Attribution 4.0 International
        License. To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/.","experiments":{"draft":[],"running":[]}}'
  recorded_at: Wed, 14 Feb 2018 11:04:36 GMT
- request:
    method: get
    uri: https://prismic-rails.prismic.io/api/v1/documents/search?access_token=MC5Xb1FQa3lzQUFLMVN3RVh4.ZXo4Uu-_ve-_vXXvv73vv73vv71echEp77-9EzFx77-9MO-_vSXvv71MEO-_vScZ77-977-9XO-_vQ&page=1&pageSize=20&q=%5B%5B:d%20=%20at(document.type,%20%22text%22)%5D%5D&ref=WoQTESsAAJIxwFWJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results_per_page":20,"results_size":2,"total_results_size":2,"total_pages":1,"next_page":null,"prev_page":null,"results":[{"id":"WoQS8CsAAJIxwFTy","uid":null,"type":"text","href":"https://prismic-rails.prismic.io/api/v1/documents/search?ref=WoQTESsAAJIxwFWJ&q=%5B%5B%3Ad+%3D+at%28document.id%2C+%22WoQS8CsAAJIxwFTy%22%29+%5D%5D","tags":[],"first_publication_date":"2018-02-14T10:44:04+0000","last_publication_date":"2018-02-14T10:44:04+0000","slugs":["bar-lorem"],"linked_documents":[],"lang":"en-gb","alternate_languages":[{"id":"WoQTBSsAAMpXwFVT","type":"text","lang":"de-ch"}],"data":{"text":{"title":{"type":"StructuredText","value":[{"type":"heading1","text":"Bar
        Lorem","spans":[]}]},"rich_text":{"type":"StructuredText","value":[{"type":"paragraph","text":"Hello
        you","spans":[]}]},"select":{"type":"Select","value":"Bar"}}}},{"id":"WTQaNCYAACUANquW","uid":null,"type":"text","href":"https://prismic-rails.prismic.io/api/v1/documents/search?ref=WoQTESsAAJIxwFWJ&q=%5B%5B%3Ad+%3D+at%28document.id%2C+%22WTQaNCYAACUANquW%22%29+%5D%5D","tags":[],"first_publication_date":"2017-06-04T14:33:50+0000","last_publication_date":"2018-02-14T10:43:29+0000","slugs":["lorem-ipsum","lorem-ipsum-123"],"linked_documents":[],"lang":"en-gb","alternate_languages":[{"id":"WcIPOysAAHs-ASUc","type":"text","lang":"de-ch"}],"data":{"text":{"title":{"type":"StructuredText","value":[{"type":"heading1","text":"Lorem
        Ipsum","spans":[]}]},"rich_text":{"type":"StructuredText","value":[{"type":"paragraph","text":"Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut arcu nec justo
        consectetur mollis vel vel magna. Proin maximus velit ex, at efficitur nulla
        facilisis eu. Praesent luctus enim elit, a pharetra tortor vestibulum vel.
        Donec blandit elementum fringilla. Integer sit amet est in nunc volutpat pharetra
        pulvinar id nibh. Fusce nec nibh elit. Praesent mattis tempus quam in bibendum.","spans":[{"start":0,"end":5,"type":"strong"},{"start":6,"end":11,"type":"em"}]},{"type":"o-list-item","text":"A","spans":[]},{"type":"o-list-item","text":"B","spans":[]},{"type":"o-list-item","text":"C","spans":[]},{"type":"list-item","text":"True","spans":[]},{"type":"list-item","text":"False","spans":[]},{"type":"paragraph","text":"Github","spans":[{"start":0,"end":6,"type":"hyperlink","data":{"type":"Link.web","value":{"url":"https://github.com/fadendaten"}}}]},{"type":"paragraph","text":"","spans":[]},{"type":"image","url":"https://prismic-io.s3.amazonaws.com/prismic-rails/54326eaf909158b12496e1f71f9920350040e0d8_1136290.png","alt":null,"copyright":null,"dimensions":{"width":200,"height":200}}]},"select":{"type":"Select","value":"Foo"}}}}],"version":"a5dcab6","license":"This
        work is licensed under the Creative Commons Attribution 4.0 International
        License. To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/."}'
  recorded_at: Wed, 14 Feb 2018 11:04:37 GMT
recorded_with: VCR 3.0.3
