---
http_interactions:
- request:
    method: get
    uri: https://prismic-rails.prismic.io/api/v1/documents/search?access_token=MC5Xb1FQa3lzQUFLMVN3RVh4.ZXo4Uu-_ve-_vXXvv73vv73vv71echEp77-9EzFx77-9MO-_vSXvv71MEO-_vScZ77-977-9XO-_vQ&lang=*&page=1&pageSize=20&q=%5B%5B:d%20=%20at(document.type,%20%22text%22)%5D%5D&ref=WoQTESsAAJIxwFWJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results_per_page":20,"results_size":4,"total_results_size":4,"total_pages":1,"next_page":null,"prev_page":null,"results":[{"id":"WoQTBSsAAMpXwFVT","uid":null,"type":"text","href":"https://prismic-rails.prismic.io/api/v1/documents/search?ref=WoQTESsAAJIxwFWJ&q=%5B%5B%3Ad+%3D+at%28document.id%2C+%22WoQTBSsAAMpXwFVT%22%29+%5D%5D","tags":[],"first_publication_date":"2018-02-14T10:44:33+0000","last_publication_date":"2018-02-14T10:44:33+0000","slugs":["bar-lorem"],"linked_documents":[],"lang":"de-ch","alternate_languages":[{"id":"WoQS8CsAAJIxwFTy","type":"text","lang":"en-gb"}],"data":{"text":{"title":{"type":"StructuredText","value":[{"type":"heading1","text":"Bar
        Lorem","spans":[]}]},"rich_text":{"type":"StructuredText","value":[{"type":"paragraph","text":"Hallo
        du","spans":[]}]},"select":{"type":"Select","value":"Bar"}}}},{"id":"WoQS8CsAAJIxwFTy","uid":null,"type":"text","href":"https://prismic-rails.prismic.io/api/v1/documents/search?ref=WoQTESsAAJIxwFWJ&q=%5B%5B%3Ad+%3D+at%28document.id%2C+%22WoQS8CsAAJIxwFTy%22%29+%5D%5D","tags":[],"first_publication_date":"2018-02-14T10:44:04+0000","last_publication_date":"2018-02-14T10:44:04+0000","slugs":["bar-lorem"],"linked_documents":[],"lang":"en-gb","alternate_languages":[{"id":"WoQTBSsAAMpXwFVT","type":"text","lang":"de-ch"}],"data":[...]
