---
http_interactions:
- request:
    method: get
    uri: https://prismic-rails.prismic.io/api
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Local-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"refs":[{"id":"master","ref":"WTcXUisAACoAfW4r","label":"Master","isMasterRef":true}],"bookmarks":{},"types":{"text":"text","tea":"tea","complex":"complex"},"tags":[],"forms":{"everything":{"method":"GET","enctype":"application/x-www-form-urlencoded","action":"https://prismic-rails.prismic.io/api/v1/documents/search","fields":{"ref":{"type":"String","multiple":false},"q":{"type":"String","multiple":true},"lang":{"type":"String","multiple":false},"page":{"type":"Integer","multiple":false,"default":"1"},"pageSize":{"type":"Integer","multiple":false,"default":"20"},"after":{"type":"String","multiple":false},"fetch":{"type":"String","multiple":false},"fetchLinks":{"type":"String","multiple":false},"orderings":{"type":"String","multiple":false},"referer":{"type":"String","multiple":false}}}},"oauth_initiate":"https://prismic-rails.prismic.io/auth","oauth_token":"https://prismic-rails.prismic.io/auth/token","version":"c204355","license":"This
        work is licensed under the Creative Commons Attribution 4.0 International
        License. To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/.","experiments":{"draft":[],"running":[]}}'
  recorded_at: Tue, 06 Jun 2017 21:52:59 GMT
recorded_with: VCR 3.0.3
