---
http_interactions:
- request:
    method: get
    uri: https://prismic-rails.prismic.io/api/v1/documents/search?lang=en-us&page=1&pageSize=20&q=%5B%5B:d%20=%20at(document.type,%20%22text%22)%5D%5D&ref=WTcXUisAACoAfW4r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results_per_page":20,"results_size":0,"total_results_size":0,"total_pages":0,"next_page":null,"prev_page":null,"results":[],"version":"2052f50","license":"This
        work is licensed under the Creative Commons Attribution 4.0 International
        License. To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/."}'
  recorded_at: Wed, 21 Jun 2017 08:39:12 GMT
recorded_with: VCR 3.0.3
