---
http_interactions:
- request:
    method: get
    uri: https://prismic-rails.prismic.io/api
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Local-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"refs":[{"id":"master","ref":"WcIPUysAAHs-ASWM","label":"Master","isMasterRef":true}],"bookmarks":{},"types":{"text":"text","tea":"tea","complex":"complex"},"tags":[],"forms":{"everything":{"method":"GET","enctype":"application/x-www-form-urlencoded","action":"https://prismic-rails.prismic.io/api/v1/documents/search","fields":{"ref":{"type":"String","multiple":false},"q":{"type":"String","multiple":true},"lang":{"type":"String","multiple":false},"page":{"type":"Integer","multiple":false,"default":"1"},"pageSize":{"type":"Integer","multiple":false,"default":"20"},"after":{"type":"String","multiple":false},"fetch":{"type":"String","multiple":false},"fetchLinks":{"type":"String","multiple":false},"orderings":{"type":"String","multiple":false},"referer":{"type":"String","multiple":false}}}},"oauth_initiate":"https://prismic-rails.prismic.io/auth","oauth_token":"https://prismic-rails.prismic.io/auth/token","version":"fa232e3","license":"This
        work is licensed under the Creative Commons Attribution 4.0 International
        License. To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/.","experiments":{"draft":[],"running":[]}}'
  recorded_at: Wed, 20 Sep 2017 09:35:28 GMT
- request:
    method: get
    uri: https://prismic-rails.prismic.io/api/v1/documents/search?lang=de-ch&page=1&pageSize=20&q=%5B%5B:d%20=%20at(document.type,%20%22text%22)%5D%5D&ref=WcIPUysAAHs-ASWM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results_per_page":20,"results_size":1,"total_results_size":1,"total_pages":1,"next_page":null,"prev_page":null,"results":[{"id":"WcIPOysAAHs-ASUc","uid":null,"type":"text","href":"https://prismic-rails.prismic.io/api/v1/documents/search?ref=WcIPUysAAHs-ASWM&q=%5B%5B%3Ad+%3D+at%28document.id%2C+%22WcIPOysAAHs-ASUc%22%29+%5D%5D","tags":[],"first_publication_date":"2017-09-20T06:48:51+0000","last_publication_date":"2017-09-20T06:48:51+0000","slugs":["title-in-de"],"linked_documents":[],"lang":"de-ch","alternate_languages":[{"id":"WTQaNCYAACUANquW","type":"text","lang":"en-gb"}],"data":{"text":{"title":{"type":"StructuredText","value":[{"type":"heading1","text":"Title
        in de","spans":[]}]},"rich_text":{"type":"StructuredText","value":[{"type":"paragraph","text":"something
        in german","spans":[]}]}}}}],"version":"fa232e3","license":"This work is licensed
        under the Creative Commons Attribution 4.0 International License. To view
        a copy of this license, visit http://creativecommons.org/licenses/by/4.0/."}'
  recorded_at: Wed, 20 Sep 2017 09:35:30 GMT
recorded_with: VCR 3.0.3
