---
http_interactions:
- request:
    method: get
    uri: https://prismic-rails.prismic.io/api
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Local-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"refs":[{"id":"master","ref":"WUohOCQAAMEX1IP2","label":"Master","isMasterRef":true}],"bookmarks":{},"types":{"text":"text","tea":"tea","complex":"complex"},"tags":[],"forms":{"everything":{"method":"GET","enctype":"application/x-www-form-urlencoded","action":"https://prismic-rails.prismic.io/api/v1/documents/search","fields":{"ref":{"type":"String","multiple":false},"q":{"type":"String","multiple":true},"lang":{"type":"String","multiple":false},"page":{"type":"Integer","multiple":false,"default":"1"},"pageSize":{"type":"Integer","multiple":false,"default":"20"},"after":{"type":"String","multiple":false},"fetch":{"type":"String","multiple":false},"fetchLinks":{"type":"String","multiple":false},"orderings":{"type":"String","multiple":false},"referer":{"type":"String","multiple":false}}}},"oauth_initiate":"https://prismic-rails.prismic.io/auth","oauth_token":"https://prismic-rails.prismic.io/auth/token","version":"fa232e3","license":"This
        work is licensed under the Creative Commons Attribution 4.0 International
        License. To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/.","experiments":{"draft":[],"running":[]}}'
  recorded_at: Wed, 20 Sep 2017 06:46:44 GMT
- request:
    method: get
    uri: https://prismic-rails.prismic.io/api/v1/documents/search?page=1&pageSize=20&q=%5B%5B:d%20=%20at(document.type,%20%22text%22)%5D%5D&ref=WUohOCQAAMEX1IP2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results_per_page":20,"results_size":1,"total_results_size":1,"total_pages":1,"next_page":null,"prev_page":null,"results":[{"id":"WTQaNCYAACUANquW","uid":null,"type":"text","href":"https://prismic-rails.prismic.io/api/v1/documents/search?ref=WUohOCQAAMEX1IP2&q=%5B%5B%3Ad+%3D+at%28document.id%2C+%22WTQaNCYAACUANquW%22%29+%5D%5D","tags":[],"first_publication_date":"2017-06-04T14:33:50+0000","last_publication_date":"2017-06-06T09:11:10+0000","slugs":["lorem-ipsum-123","lorem-ipsum"],"linked_documents":[],"lang":"en-gb","alternate_languages":[],"data":{"text":{"title":{"type":"StructuredText","value":[{"type":"heading1","text":"Lorem
        Ipsum 123","spans":[]}]},"rich_text":{"type":"StructuredText","value":[{"type":"paragraph","text":"Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut arcu nec justo
        consectetur mollis vel vel magna. Proin maximus velit ex, at efficitur nulla
        facilisis eu. Praesent luctus enim elit, a pharetra tortor vestibulum vel.
        Donec blandit elementum fringilla. Integer sit amet est in nunc volutpat pharetra
        pulvinar id nibh. Fusce nec nibh elit. Praesent mattis tempus quam in bibendum.","spans":[{"start":0,"end":5,"type":"strong"},{"start":6,"end":11,"type":"em"}]},{"type":"o-list-item","text":"A","spans":[]},{"type":"o-list-item","text":"B","spans":[]},{"type":"o-list-item","text":"C","spans":[]},{"type":"list-item","text":"True","spans":[]},{"type":"list-item","text":"False","spans":[]},{"type":"paragraph","text":"Github","spans":[{"start":0,"end":6,"type":"hyperlink","data":{"type":"Link.web","value":{"url":"https://github.com/fadendaten"}}}]},{"type":"paragraph","text":"","spans":[]},{"type":"image","url":"https://prismic-io.s3.amazonaws.com/prismic-rails/54326eaf909158b12496e1f71f9920350040e0d8_1136290.png","alt":null,"copyright":null,"dimensions":{"width":200,"height":200}}]}}}}],"version":"fa232e3","license":"This
        work is licensed under the Creative Commons Attribution 4.0 International
        License. To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/."}'
  recorded_at: Wed, 20 Sep 2017 06:46:46 GMT
recorded_with: VCR 3.0.3
